<ion-header>
    <ion-toolbar>
        <ion-title>全部粉丝</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="!isLoading">
    <ion-list *ngIf="loadedUsers.length > 0">
        <ion-item *ngFor="let user of loadedUsers">
            <ion-grid>
                <ion-row>
                    <ion-col size="3">
                        <ion-avatar style="width: 48px; height: 48px; position: relative; left: 10px">
                            <img [src]="serverUrl + '/user/avatar/' + user.id">
                        </ion-avatar>
                    </ion-col>

                    <ion-col size="9">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="8">
                                    {{user.nickName}}
                                </ion-col>
                                <ion-col size="4">
                                    <ion-col size="4">
                                        <ion-button
                                                expand="block"
                                                size="small"
                                                style="margin: 0"
                                                color="medium"
                                                (click)="leave(user)"
                                                *ngIf="user.email"
                                        >已互关
                                        </ion-button>
                                        <ion-button
                                                expand="block"
                                                size="small"
                                                style="margin: 0"
                                                (click)="follow(user)"
                                                *ngIf="!user.email"
                                        >关注
                                        </ion-button>
                                    </ion-col>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col style="font-size: 12px; color: grey" *ngIf="user.statement">
                                    {{user.statement}}
                                </ion-col>
                                <ion-col style="font-size: 12px; color: grey" *ngIf="!user.statement">
                                    这个人很懒，什么也没写
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
    <ion-grid *ngIf="loadedUsers.length == 0">
        <ion-row  style="padding: 0">
            <ion-col size="12" align="center">
                <img src="../../../assets/img/empty.png" style="width: 160px; height: 100px; margin-top: 40%">
                <p align="center" style="color: darkgrey">你还没有粉丝呢</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
