<ion-header no-border *ngIf="!isloading">
    <ion-toolbar>
        <ion-grid>
            <ion-row>
                <!--    头像-->
                <ion-col size="2">
                    <ion-avatar style="width: 42px; height: 42px">
                        <img [src]="serverUrl + '/user/avatar/' + tarUser.id">
                    </ion-avatar>
                </ion-col>
                <!--    名称以及评论内容-->
                <ion-col size="10">
                    <ion-grid id="content">
                        <!--        名称以及各种标签-->
                        <ion-row>
                            <ion-col size="11">
                                {{tarUser.nickName}}
                            </ion-col>
                            <ion-col size="1" (click)="back()">
                                <ion-icon name="close"></ion-icon>
                            </ion-col>
                        </ion-row>
                        <!--        评论内容-->
                        <ion-row>
                            <ion-col size="12" style="font-size: 12px">
                                {{curCom.content}}
                            </ion-col>
                        </ion-row>

                    </ion-grid>
                </ion-col>
            </ion-row>
        </ion-grid>

    </ion-toolbar>
</ion-header >
<ion-content *ngIf="!isloading">
    <ion-grid>

        <ion-row>
            <ion-col>
                <div class="am-list" style="margin:0;">
                    <div class="am-list-body">
                        <TextareaItem [rows]="18" [count]="400" [placeholder]="'写下你的评论...'"
                                      [(ngModel)]="comContent"></TextareaItem>
                    </div>
                </div>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
<ion-footer *ngIf="!isloading">
    <ion-button expand="block" (click)="submitComment()">提交评论</ion-button>
</ion-footer>
