<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                <List [className]="'my-list'">
                    <!--          头像以及用户名-->
                    <ListItem multipleLine (onClick)="this.router.navigate(['/', 'user', curUser.id])">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="3">
                                    <ion-avatar>
                                        <img [src]="serverUrl + '/user/avatar/' + curUser.id" style="width: 60px; height: 60px">
                                    </ion-avatar>
                                </ion-col>
                                <ion-col size="9">
                                    {{curUser.nickName}}
                                    <Brief style="font-size: 10px"
                                           *ngIf="curUser.statement">{{curUser.statement}}</Brief>
                                    <Brief style="font-size: 10px"
                                           *ngIf="!curUser.statement">这个人很懒，什么也没写</Brief>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ListItem>

                    <ListItem>
                        <ion-grid>
                            <ion-row align="center">
                                <ion-col size="3">
                                    <a [routerLink]="'/user/' + curUser.id + '/psgs'">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col>{{curUser.psgNum}}</ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col class="pe-label">文章</ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </a>
                                </ion-col>
                                <ion-col size="3">
                                    <a [routerLink]="'/user/' + curUser.id + '/flws'">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col>{{curUser.follows}}</ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col class="pe-label">关注</ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </a>
                                </ion-col>
                                <ion-col size="3">
                                    <a [routerLink]="'/user/' + curUser.id + '/fans'">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col>{{curUser.followed}}</ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col class="pe-label">粉丝</ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </a>
                                </ion-col>
                                <ion-col size="3">
                                    <a [routerLink]="'/user/' + curUser.id + '/collect'">
                                        <ion-grid>
                                            <ion-row>
                                                <ion-col>{{curUser.collectNum}}</ion-col>
                                            </ion-row>
                                            <ion-row>
                                                <ion-col class="pe-label">收藏</ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </a>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ListItem>
                </List>

                <List>
                    <ListItem
                            [thumb]="icon1"
                            [arrow]="'horizontal'"
                            (onClick)="this.router.navigate(['/', 'user', curUser.id, 'update'])"
                    >
                        <ng-template #icon1>
                            <ion-icon name="person-outline" size="large" color="medium"></ion-icon>
                        </ng-template>
                        <p>修改个人信息</p>
                    </ListItem>

                    <ListItem
                            [thumb]="icon2"
                            [arrow]="'horizontal'"
                            (onClick)="this.router.navigate(['/', 'user', curUser.id, 'update'])"
                    >
                        <ng-template #icon2>
                            <ion-icon name="reader-outline" size="large" color="medium"></ion-icon>
                        </ng-template>
                        <p>审核中的文章</p>
                    </ListItem>

                    <ListItem
                            [thumb]="icon6"
                            [arrow]="'horizontal'"
                            (onClick)="this.router.navigate(['/', 'user', curUser.id, 'recent'])"
                    >
                        <ng-template #icon6>
                            <ion-icon name="eye-outline" size="large" color="medium"></ion-icon>
                        </ng-template>
                        <p>最近浏览文章</p>
                    </ListItem>

                    <ListItem
                            [thumb]="icon3"
                            [arrow]="'horizontal'"
                            (onClick)="this.router.navigate(['/', 'user', curUser.id, 'config'])"
                    >
                        <ng-template #icon3>
                            <ion-icon name="cog-outline" size="large" color="medium"></ion-icon>
                        </ng-template>
                        <p>设置</p>
                    </ListItem>

                    <ListItem
                            [thumb]="icon4"
                            [arrow]="'horizontal'"
                            (onClick)="this.router.navigate(['/', 'user', curUser.id, 'config'])"
                    >
                        <ng-template #icon4>
                            <ion-icon name="help-outline" size="large" color="medium"></ion-icon>
                        </ng-template>
                        <p>帮助</p>
                    </ListItem>

                    <ListItem
                            [thumb]="icon5"
                            [arrow]="'horizontal'"
                            (onClick)="this.router.navigate(['/', 'user', curUser.id, 'config'])"
                    >
                        <ng-template #icon5>
                            <ion-icon name="heart-outline" size="large" color="medium"></ion-icon>
                        </ng-template>
                        <p>反馈</p>
                    </ListItem>

                </List>

            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer>
    <ion-button color="medium" expand="block" (click)="logout()">退出登录</ion-button>
</ion-footer>
