ion-content ion-toolbar {
  --background: translucent;
}

a {
  color: grey;
}

label {
  position: relative;
  top: -10px;
  font-size: 12px;
}

p {
  color: grey;
}

ion-row {
  padding: 0;
}

.pe-label {
  font-size: 12px;
}
