ion-card-header {
  padding: 0px 10px 3px 10px;
}

ion-card-content {
  padding-bottom: 7px;
}

ion-card {
  margin-bottom: 3px;
}

.brief {
  overflow: hidden; //超出一行文字自动隐藏
  text-overflow: ellipsis; //文字隐藏后添加省略号
  white-space: nowrap; //强制不换行
}
