ion-content ion-toolbar {
  --background: translucent;
}

.bod {
  border-bottom: 1px #f2f3f6 solid;
}

span{
  height: 0;
}

ion-buttons{
  position: relative;
  left: 20%;
}

.abc{
  width: 54.96px;
}



