<ion-header>
  <ion-toolbar>
    <ion-title>收藏文章</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <List [className]="'psg-list'" style="padding: 0" *ngIf="loadedPsgs.length > 0">
    <div *ngFor="let psg of loadedPsgs" style="padding: 0">
      <app-psg-block ngDefaultControl [psg]="psg"></app-psg-block>
    </div>
  </List>
  <ion-grid>
    <ion-row *ngIf="loadedPsgs.length == 0" style="padding: 0">
      <ion-col size="12" align="center">
        <img src="../../../assets/img/empty.png" style="width: 160px; height: 100px; margin-top: 40%">
        <p align="center" style="color: darkgrey">你还没有收藏文章呢，去收藏一篇吧！</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
