<ion-header>
    <ion-toolbar>
        <ion-title>全部文章</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<Tabs
        [page]="2"
        [useOnPan]="false"
        [swipeable]="false"
        [activeTab]="0"
        [tabBarActiveTextColor]="'#1890ff'"
        (onChange)="onChange($event)"
        (onTabClick)="onTabClick($event)"
>
    <TabPane [title]="'已发布'">
        <ion-content *ngIf="!isLoading">
            <List [className]="'psg-list'" style="padding: 0" *ngIf="loadedPsgs.length > 0">
                <div *ngFor="let psg of loadedPsgs" style="padding: 0">
                    <app-psg-block ngDefaultControl [psg]="psg"></app-psg-block>
                </div>
            </List>
            <ion-grid>
                <ion-row *ngIf="loadedPsgs.length == 0" style="padding: 0">
                    <ion-col size="12" align="center">
                        <img src="../../../assets/img/empty.png" style="width: 160px; height: 100px; margin-top: 40%">
                        <p align="center" style="color: darkgrey">你还没有文章呢，去<a routerLink="/tabs/tab2">写一篇文章吧</a>！</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </TabPane>

    <TabPane [title]="'草稿'">

        <ion-content *ngIf="!isLoadingD">
            <List [className]="'psg-list'" style="padding: 0" *ngIf="loadedDrafts.length > 0">
                <div *ngFor="let psg of loadedDrafts" style="padding: 0">
                    <app-psg-block ngDefaultControl [psg]="psg"></app-psg-block>
                </div>
            </List>
            <ion-grid>
                <ion-row *ngIf="loadedDrafts.length == 0" style="padding: 0">
                    <ion-col size="12" align="center">
                        <img src="../../../assets/img/empty.png" style="width: 160px; height: 100px; margin-top: 40%">
                        <p align="center" style="color: darkgrey">你还没有文章呢，去<a routerLink="/tabs/tab2">写一篇文章吧</a>！</p>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-content>
    </TabPane>
</Tabs>
<WhiteSpace></WhiteSpace>


