<ion-content *ngIf="!loading">
    <ion-buttons>
        <ion-button class="divcss5-a" (click)="back()">
            <ion-icon name="arrow-undo-outline" slot="icon-only" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-buttons>
        <ion-button class="divcss5-b" routerLink="./update">
            <ion-icon name="cog-sharp" slot="icon-only" color="light"></ion-icon>
        </ion-button>
    </ion-buttons>
    <ion-grid>
        <!--主页图片-->
        <ion-row (click)="viewFollows(message2)">
            <ion-col size="12">
                <img [src]="serverUrl + '/user/cover/' + curUser.id">
            </ion-col>
        </ion-row>
        <ion-row>
            <!--          头像-->
            <ion-col size="3" offset="1">
                <ion-avatar (click)="viewFollows(message)">
                    <img [src]="serverUrl + '/user/avatar/' + curUser.id"
                         style="
                       background:#FBFBFB;
                       padding:4px;
                       position: relative;
                       bottom: 15px"
                    >
                </ion-avatar>
            </ion-col>
            <ion-col size="8">
                <ion-grid>
                    <!--                  用户名-->
                    <ion-row>
                        <ion-col>
                            {{curUser.nickName}}
                        </ion-col>
                    </ion-row>

                    <!--                  个签-->
                    <ion-row>
                        <ion-col style="font-size: 12px; color: grey">
                            {{curUser.statement}}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
        <!--粉丝、关注、文章数量-->
        <ion-row align="center">
            <ion-col size="4" style="border-right: #cacaca solid 1px">
                <p>{{curUser.follows}}</p>
                <ion-label>粉丝</ion-label>
                <!--              粉丝-->
            </ion-col>
            <ion-col size="4" style="border-right: #cacaca solid 1px">
                <p>{{curUser.followed}}</p>
                <ion-label>关注</ion-label>
            </ion-col>
            <ion-col size="4">
                <p>{{curUser.psgNum}}</p>
                <ion-label>文章</ion-label>
            </ion-col>
        </ion-row>
        <ion-row>
            <Tabs
                    [page]="2"
                    [useOnPan]="false"
                    [swipeable]="true"
                    [activeTab]="0"
                    [tabBarActiveTextColor]="'#1890ff'"
                    (onChange)="onChange($event)"
                    (onTabClick)="onTabClick($event)"
            >
                <TabPane [title]="'主页'">
<!--                    <div style="display: flex; align-items: center;justify-content: center;height: 150px;background-color: #fff">-->
                        <div *ngFor="let psg of loadedPsgs">
                            <app-psg-card [curPassage]="psg"></app-psg-card>
                        </div>
<!--                    </div>-->
                </TabPane>
                <TabPane [title]="'动态'">
                    <div *ngFor="let psg of loadedPsgs">
                        <app-psg-card [curPassage]="psg"></app-psg-card>
                    </div>
                </TabPane>
            </Tabs>
        </ion-row>
    </ion-grid>
</ion-content>

<ng-template #message>
    <div class="am-action-sheet-message">
        <ion-button expand="block" fill="shape" color="white" class="pop-btn" routerLink="./avatar">
            查看大图
        </ion-button>
        <ion-button (click)="uploadCover('avatar')" expand="block" fill="shape" color="white" class="pop-btn">
            修改头像
        </ion-button>
<!--        <ion-button expand="block" fill="shape" color="white" class="pop-btn">-->
<!--            保存图片-->
<!--        </ion-button>-->
    </div>
</ng-template>

<ng-template #message2>
    <div class="am-action-sheet-message">
        <ion-button (click)="uploadCover('cover')" expand="block" fill="shape" color="white" class="pop-btn">
            修改封面
        </ion-button>
<!--        <ion-button expand="block" fill="shape" color="white" class="pop-btn">-->
<!--            保存图片-->
<!--        </ion-button>-->
    </div>
</ng-template>
